@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Robots", sans-serif;
    color:#01539D;
    background: #eea37e2a;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    transition: .2s;
    color:#01539D;
    font-weight: 600;
}
a:hover{
    text-decoration: underline;
}
input {
    outline: none;
    border: 2px solid transparent;
    height: 37px;
    border-radius: 5px;
    font-size: 20px;
    padding: 1em;
    box-shadow: 0 0 4px 1px grey;
}
input:active{
    border: 1px solid black;
}
input:focus{
    border: 2px solid #01539D;;
}
button {
    border: unset;
    background: #01539D;
    color: #fcefe9;
    padding: 1em 0;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
    transition: .2s;
    border-radius: 5px;
    position: relative;
}
button:active{
    top: 3px;
    
}
button:hover{
    opacity: 0.8;
}
.mainPage{
 

}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 0;
}
.header{
    text-align: center;
    background: white;
    padding: 1em;
    box-shadow: 0 0 5px 1px #80808061;
}
.nav{
    display: flex;
    justify-content: center;
    column-gap: 2em;
    margin-top: 1em;
}
.form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    row-gap: 0.6em;
    justify-content: center;
    margin: 3em auto;
}
.news{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    margin: 2em 0;
    row-gap: 1em;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1;
    row-gap: 1em;
    box-shadow: 0 0 5px 1px #808080ba;
    padding: 1em;
    background: white;
    border-radius: 5px;
}
.feedbackTable{
    border-collapse: collapse;
    border: 1px solid;
    margin: 0 auto;
    width: 100%;
}
.feedbackTable td,.feedbackTable th{
    border: 1px solid;
}